<!DOCTYPE html>
<html>
<head>
	<title>Vue Js Intro 2</title>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

	<div id="app">
        
        <ul>
            <!-- v-for for repeating items -->
            <li v-for="todo in items">{{ todo }}</li>
        </ul>
 
        <input type="text" v-model="item">
        <!-- @ symbol refer to an effect -->
        <button @click="items.push(item)">Add Item</button>
	</div>

	<script>
		new Vue({
            el:'#app',
            
			data: {
                item: '',
                items: []
			}
		});
	</script>
</body>
</html>