<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vue Tutor 4</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
	<div id="app">
		<h1>{{message}}</h1>
		<ul>
			<li style="list-style-type: none;" v-for="todo in todos"> {{todo.id}}.) {{todo.text}}</li>

			<li v-for="count in count">Moooorrrreeeeeee!!!</li>
		</ul>
	</div>
</body>

<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			message: 'Hello Vue World',
			todos: [
				{ text: 'Learn Vue', id: 1 },
				{ text: 'Learn Vue 2', id: 2 },
				{ text: 'Learn Vue 3', id: 3 }
			],
			count: 100
		}
	})
</script>
</html>